.base_input_container {
    width: 100%;
}
.base_input_container input{
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--font-color);
    font-size: 18px;
    font-weight: 500;
}
.base_input_container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--font-color);
    opacity: 1; /* Firefox */
  }
  
.base_input_container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--font-color);
  }
  
.base_input_container input::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--font-color);
  }
.form_error{
    color: var(--danger-color);
    font-size: 15px;
    margin: var(--small-space) 0 20px 0;
}


.clean_input_container {
    padding: 0 0 var(--small-space) 0;
    border-bottom: solid 1px var(--primary-color-1);
}