.auth {
    display: flex;
    flex-direction: column;
    padding: var(--big-space);
    width: 100vw;
    height: 100vh;
}
.auth img {
    height: 50px;
    width: min-content;
}
.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90vw;
    min-height: 350px;
    max-width: 350px;
}

.form > .button_container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.button_container > .auth_message{
    font-size: 16px;
}
.auth_message > .link {
    color: var(--link-color);
}
.form .form_title {
    font-size: 35px;
    font-weight: 500;
    color: var(--primary-color-1);
    margin: var(--big-space) 0 50px 0;
}