.chat_selector{
    width: 300px;
    height: 100%;
    position: relative;
}
.close_button_container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    right: -40px;
}
.chat_card{
   display: flex;
    padding: var(--small-space);
    align-items: center;
}
.chat_card:hover{
    cursor: pointer;
    background-color: var(--white-opa);
}
.chat_card > img {
    width: 44px;
    height: 44px;
    margin: 0 var(--normal-space) 0 0;
    background-color: var(--secondary-color-1);
    border-radius: 50%;
}
.chat_card p {
    margin: 0;
}
.chat_card .user_name{
    font-weight: bold;
}
.chat_card .last_message{
    font-size: 15px;
    margin-top: 2px;
}