:root{
  --primary-color-1: #E56B6F;
  --primary-color-1-dark: #B56576;
  --primary-color-2: #141E2B;
  --secondary-color-1: #355070;
  --danger-color: #F11818;
  --link-color: #18A3F1;
  --font-color: #fff;
  --small-space: 0.50rem;
  --normal-space: 0.8rem;
  --big-space: 1.1rem;
  --font-family: 'Roboto',sans-serif;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color-2);
  color: var(--font-color);
}
